{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="{% static 'favicon.ico' %}" rel="shortcut icon"
          type="image/vnd.microsoft.icon"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>{{ title | title }}</title>
      <meta name="description" content="{{ description }}">

    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'website/website-v2/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/website-v2/css/follow-box.css' %}">

      <!--material design-->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/ripples.css">
       <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/css/material-wfont.css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <meta name="google-site-verification" content="3KzWKpX0fs66zdxqa-28mNwromZy7vOieEXzmSXt_ms" />
        <meta name="msvalidate.01" content="2385BD5FC533B06998538C38A16C32BB" />
      {% block head %}

      {% endblock %}
      <style>
          .highlighted{
          font-weight:bold;
          }
      </style>
      <meta name="google-site-verification" content="RImAJae30TQtatLPnLuDrFCOexDkd1pf72bKB6ju7RM" />
      <!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"4GVTj1acFH002N", domain:"jobsmaster.com.ng",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=4GVTj1acFH002N" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->
  </head>
  <body>
  {% include 'website/website-v2/includes/google-analytics-script.html' %}
    {% block body %}

    {% endblock %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{% static 'website/js/email-subscription.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/ripples.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.1/js/material.js"></script>
    {% block end_of_body %}

    {% endblock %}
  </body>
</html>