{% extends 'website/website-v2/base.html' %}
{% load staticfiles %}
{% block body %}

        <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=586872818050295&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

        {% include 'website/website-v2/includes/top-nav.html' %}

     <div class="container-fluid">
      <div class="centered-box home-margin-top">
        <a href="/" title="jobsmaster: one search. all jobs in Nigeria"><img src="{% static 'jobsmaster-logo.png' %}" title="jobsmaster.com.ng logo" alt="jobsmaster.com.ng logo"></a>
        <div class="row">
          <form id="home-form" action="/search" method="get" >
              <div class="col-md-5">
                  <p><label>What</label></p>
                  <input type="text" class="input_text" name="q" style="width: 100%" placeholder="job title, keyword or company">
              </div>
              <div class="col-md-5">
                  <p><label>Where</label></p>
                  <input type="text" class="input_text" name="l" style="width: 100%" placeholder="city or state">
              </div>
              <div class="col-md-2">
                  <p><label> </label></p>
                  <input type="submit" style="margin-top:3px;"  value="Search" class="input_submit">
              </div>
          </form>

      </div>
        <br>
          <div class="" style="text-align:center;">
               <p>One click. <a href="/search">{{ total }} new jobs </a>in Nigeria.</p>
        <p>Search job sites, newspapers, associations and company career pages.</p>
          </div>
        <!-- <p>1 million jobs on jobsmaster.com.ng</p> -->
           <!--<p>Find Jobs. {{ total }} new jobs in Nigeria.</p>-->
        <!--<p>Search job sites, newspapers, associations and company career pages.</p>-->
      </div>

      <div class="centered-box">
        <strong style="display:block;">Popular Job Searches</strong>

        <table class="custom-table table-responsive">
            <tr>
                {% for category in categories %}
                    <td><a href="/{{category.slug|title}}-jobs-in-nigeria.html">{{ category.name }}</a></td>
                    {% if forloop.counter|divisibleby:"5" and not forloop.last %}
                            </tr><tr>
                    {% endif%}
                {% endfor %}
            </tr>
        </table>
      </div>
    </div>

     <div class="centered-box" style="text-align: center; margin-top: 10px;">


        <p>

            <span>
                <!-- Place this tag where you want the share button to render. -->
                <div class="g-plus" data-action="share" data-annotation="none" data-height="24" data-href="http://jobsmaster.com.ng"></div>
            </span>

            <span>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jobsmaster.com.ng" data-size="large" data-related="jobsmasterng" data-count="none" data-hashtags="jobsinnigeria">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </span>

            <span>
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">
                    lang: en_US
                </script>
<script type="IN/Share" data-url="http://jobsmaster.com.ng"></script>
            </span>

            <span>
                <div class="fb-share-button" data-type="button" data-href="http://jobsmaster.com.ng"></div>
            </span>
        </p>


    </div>

    {% include 'website/website-v2/includes/footer.html' %}

{% endblock %}


        {% block end_of_body %}
            <script type="text/javascript">
      (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
  </script>


        {% endblock %}