{% extends 'website/website-v2/base.html' %}
        {% load staticfiles %}

        {% block body %}
        {% include 'website/website-v2/includes/top-nav.html' %}

        <div class="container-fluid">
            {% include 'website/website-v2/includes/header.html' %}
        </div>

        <div class="container-fluid" id="divider">
        </div>
        <div  class="container" id="organization">
    <h1>Companies hiring in Nigeria</h1>

    <div class="row">
    <div class="col-md-8" style="padding: 0;">
        <p>Find jobs at some of the top companies hiring in Nigeria.</p>

        <form class="form-inline pull-right" action="" method="GET">
            <div class="form-group">
                <input type="text" class="input_text col-md-12" value="{{query}}" name="search" placeholder="Search...">
            </div>
            <div class="form-group">
                <input type="submit" value="Search"  class="btn btn-success cal-md-4">
            </div>
        </form>

        <br>
        <br>
        <table class="table table-striped table-condensed">
            <tr>
                <td><strong>Company</strong></td>
                <td><strong>We're hiring!</strong></td>
            </tr>
            {% for company in results %}
            <tr>
                <td>{{ company.name|title }}</td>
                <td><a href="/cmp/{{ company.name.split|join:'-'}}/">New jobs at {{company.name|title}}</a></td>
            </tr>
            {% endfor %}
        </table>

    {% include 'website/website-v2/includes/pagination-organizations.html' %}
    </div>
    <div class="col-md-4">
        {% include 'website/website-v2/includes/email-alert-box.html' %}
         {% include 'website/website-v2/includes/adsense-box-side.html' %}
    </div>
    </div>
</div>

        {% include 'website/website-v2/includes/footer.html' %}

        {% endblock %}