{% extends 'website/website-v2/base.html' %}

{% block body %}
        {% include 'website/website-v2/includes/top-nav.html' %}

        <div class="cotainer-fluid">
            {% include 'website/website-v2/includes/header.html' %}
        </div>

        <div class="container-fluid" id="divider">
        </div>

        <div  class="container" id="organization">
        <h1>{{ company_name | title }} </h1>
    <div class="col-md-12" id="organization-menu">
        <span>About</span>
    </div>

    <div class="col-md-8" style="padding: 0;">
        <p>About {{ company_name | title }}</p>
        <article>
            {{ company.about }}
        </article>

        <br>
        <div class="col-md-12" id="organization-job-box">
            <strong>Available jobs at {{ company_name | title }}</strong>
        </div>
        <br>
        <br>
        {% for job in company_jobs %}
            {% include 'website/website-v2/includes/similar-job.html' %}
        {% endfor %}


        {% include 'website/website-v2/includes/disqus.html' %}

    </div>

    <div class="col-md-4">
        <ul class="list-unstyled">
            {% if company.logo %}
            <li>
               <img src="{{ company.logo.url }}" style="">
            </li>
            {% endif %}

            {% if company.address %}
            <li>
                <p>{{company.address}}</p>
            </li>
            {% endif %}
            {% if company.industry %}
            <li>
                <p><a href="/{{company.industry.slug|title}}-jobs-in-nigeria.html" title="{{company.industry.slug|title}} jobs in Nigeria">{{ company.industry.name|title }}</a></p>
            </li>
            {% endif %}
            {% if company.website %}
            <li>
                <a href="{{ company.website }}" title="{{ company.name|title }}'s website">{{ company.name|title }}'s website</a>
            </li>
            {% endif %}
            {% if company.twitter %}
            <li>
                <a href="{{ company.twitter }}" title="{{ company.name|title }}'s twitter page">{{ company.name|title }}'s twitter</a>
            </li>
            {% endif %}
            {% if company.facebook %}
            <li>
                <a href="{{ company.facebook }}" title="{{ company.name|title}}'s facebook page">{{ company.name|title }}'s facebook</a>
            </li>
            {% endif %}
            {% if company.googleplus %}
            <li>
                <a href="{{ company.googleplus }}" title="{{ company.name|title }}'s googleplus page">{{ company.name|title }}'s googleplus</a>
            </li>
            {% endif %}
            {% if company.employees%}
            <li>
                <p>Employees {{ company.employees}}</p>
            </li>
            {% endif %}
            {% if company.stock_symbol %}
            <li>
                <p>Stock Symbol: {{ company.stock_symbol }}</p>
            </li>
            {% endif %}
        </ul>
        {% include 'website/website-v2/includes/email-alert-box.html' %}
    </div>

</div>

        {% include 'website/website-v2/includes/footer.html' %}

{% endblock %}