{% extends 'website/website-v2/base.html' %}
{% load staticfiles %}

{% block body %}
    {% include 'website/website-v2/includes/top-nav.html'%}
    {% include 'website/website-v2/includes/header.html'%}


<div class="container-fluid">



{% include 'website/website-v2/includes/left-nav.html' %}




    <aside class="col-md-7" id="middle-pane">
        <div class="col-md-12" style="padding-left: 0;">
            <p style="margin-bottom: 0; font-size: 14px;">Displaying jobs <strong>{{ results.start_index }} - {{ results.end_index }}</strong> of <strong>{{ total }}</strong> total jobs</p>

            {% include 'website/website-v2/includes/email-alert-box.html' %}

            <!--start of ad-box-->
           {% include 'website/website-v2/includes/search-results-ad-box.html' %}
            <!--end of ad-box-->
            <span>Show: <a href="/search">all jobs in Nigeria</a></span>

            <div class="col-md-12" id="result-box">
                {% if results %}
                    {% for result in results %}

                        {% include 'website/website-v2/includes/job-result.html'%}

                    {% endfor %}
                {% else %}
                    <br>
                    <p>
                        No result for your search: <strong>{% if q %}{{ q }}{% endif %}{% if l %} in {{ l }}{% endif%}</strong>
                    </p>
                {% endif %}
            </div>





        </div>
        {% if page_name == 'category'%}
            {% include 'website/website-v2/includes/pagination-category.html' %}
        {% else %}
            {% include 'website/website-v2/includes/pagination.html' %}
        {% endif %}
        {% include 'website/website-v2/includes/search-results-ad-box-bottom.html' %}
    </aside>

    {% include 'website/website-v2/includes/right-pane.html' %}


</div>

        {% include 'website/website-v2/includes/footer.html' %}
        {% block end_of_body %}
            {% include 'website/website-v2/includes/follow-box.html' %}
            <script src="{% static 'website/js/follow-box.js' %}"></script>
        {% endblock %}

{% endblock %}


