{% extends 'website/website-v2/base.html' %}
        {% block body %}
        {% include 'website/website-v2/includes/top-nav.html'%}
        {% include 'website/website-v2/includes/header.html'%}
 <hr>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-8">
                    <h1>
                        {% if job.title%}
                            {{ job.title|title  }}
                        {% else %}
                            {{ job.meta_title|title }}
                        {% endif %}
                    </h1>
                    <small>{{ job.company.name|title }} - {{ job.location }}</small>

                    <table class="table table-condensed">
                        <tr>
                            <td>Salary</td>
                            <td>{{ job.salary }}</td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{ job.type }}</td>
                        </tr>

                         <tr>

                            <td>Qualification</td>
                             <td>{{ job.qualification }}</td>

                        </tr>
                        <tr>

                            <td>Posted Date</td>
                             <td>{{ job.crawled_date }}</td>

                        </tr>
                         <tr>

                            <td>Source</td>
                             <td>{{ job.source }}</td>
                        </tr>
                    </table>



                    <article>
                        {{ job.content }}
                    </article>
                    <br>

                    <a class="btn btn-success" href="{{job.landing_page}}">View or Apply to Job</a>


                </div>


                <div class="col-md-4">
                     {% if similar_jobs %}
                    <h4>Similar Jobs</h4>


                    {% for result in similar_jobs %}

                        {% include 'website/website-v2/includes/similar-job-result.html'%}

                    {% endfor %}
                {% endif %}

                </div>




            </div>

        </div>
        {% include 'website/website-v2/includes/footer.html' %}

        {% endblock %}