<!DOCTYPE html>
<html>
{% include 'website/website-v1/includes/head.html' %}
<body id="browse_jobs">
{% include 'website/website-v1/includes/top-nav.html' %}
{% include 'website/website-v1/includes/search-form.html' %}
<div class="breadcrumb"></div>
<div class="one_col" id="main">
    <div id="cnt">
        <div id="rcnt">
            <div id="centre_col">
                <div class="message_container hidden"></div>
                <h1 id="browse_header">Browse Jobs</h1>

                <div class="clear"></div>
                <div class="browse" id="category_browse">
                    <div class="browse_header"><h3>Category</h3></div>
                    <ul class="cols3">
                        <li><a href="/findjobs/accounting">Accounting</a></li>
                        <li><a href="/findjobs/administrative">Administrative</a></li>
                        <li><a href="/findjobs/agriculture">Agriculture</a></li>
                        <li><a href="/findjobs/architecture">Architecture</a></li>
                        <li><a href="/findjobs/arts">Arts</a></li>
                        <li><a href="/findjobs/banking">Banking</a></li>
                        <li><a href="/findjobs/business">Business</a></li>
                        <li><a href="/findjobs/computer">Computer</a></li>
                        <li><a href="/findjobs/construction">Construction</a></li>
                        <li><a href="/findjobs/consulting">Consulting</a></li>
                        <li><a href="/findjobs/customer-service">Customer Service</a></li>
                        <li><a href="/findjobs/education">Education</a></li>
                        <li><a href="/findjobs/energy">Energy</a></li>
                        <li><a href="/findjobs/engineering">Engineering</a></li>
                        <li><a href="/findjobs/facilities">Facilities</a></li>
                    </ul>
                    <ul class="cols3">
                        <li><a href="/findjobs/finance">Finance</a></li>
                        <li><a href="/findjobs/food-service">Food Service</a></li>
                        <li><a href="/findjobs/healthcare">Healthcare</a></li>
                        <li><a href="/findjobs/hospitality">Hospitality</a></li>
                        <li><a href="/findjobs/human-resources">Human Resources</a></li>
                        <li><a href="/findjobs/it">IT</a></li>
                        <li><a href="/findjobs/law-enforcement">Law Enforcement</a></li>
                        <li><a href="/findjobs/legal">Legal</a></li>
                        <li><a href="/findjobs/logistics">Logistics</a></li>
                        <li><a href="/findjobs/maintenance">Maintenance</a></li>
                        <li><a href="/findjobs/management">Management</a></li>
                        <li><a href="/findjobs/manufacturing">Manufacturing</a></li>
                        <li><a href="/findjobs/marketing">Marketing</a></li>
                        <li><a href="/findjobs/mechanical">Mechanical</a></li>
                        <li><a href="/findjobs/mining">Mining</a></li>
                    </ul>
                    <ul class="cols3">
                        <li><a href="/findjobs/other">Other</a></li>
                        <li><a href="/findjobs/pharmaceutical">Pharmaceutical</a></li>
                        <li><a href="/findjobs/publishing">Publishing</a></li>
                        <li><a href="/findjobs/real-estate">Real Estate</a></li>
                        <li><a href="/findjobs/restaurant">Restaurant</a></li>
                        <li><a href="/findjobs/retail">Retail</a></li>
                        <li><a href="/findjobs/sales">Sales</a></li>
                        <li><a href="/findjobs/scientific">Scientific</a></li>
                        <li><a href="/findjobs/security">Security</a></li>
                        <li><a href="/findjobs/social-care">Social Care</a></li>
                        <li><a href="/findjobs/sport">Sport</a></li>
                        <li><a href="/findjobs/training">Training</a></li>
                        <li><a href="/findjobs/transportation">Transportation</a></li>
                        <li><a href="/findjobs/travel">Travel</a></li>
                        <li><a href="/findjobs/volunteering">Volunteering</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            {% include 'website/website-v1/includes/footer-2.html' %}
        </div>
    </div>
</div>
{% include 'website/website-v1/includes/body-scripts.html' %}
</body>
</html>