{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html>
    {% include 'website/website-v1/includes/home-head.html' %}
<body>
<div class="yui-t7" id="doc3">
    <!--SendGrid-->
    <!--<div id="hd">-->
        <!--<div id="account"><a href="/login" rel="nofollow">log in</a></div>-->
    <!--</div>-->
    <div id="bd">
        <div class="yui-g">
            <center>
                <form action="/search" method="get">
                    <table style="width: 500px;">
                        <tr>
                            <td colspan="3">
                                <div id="logo" style="text-align:center;"><img alt="Logo" height="65"
                                                    src="{% static 'jobsmaster-logo.png' %}"
                                                    title="JobsMaster.com.ng"/></div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="keywords_lbl" for="q">Keywords</label></td>
                            <td colspan="2"><label for="l">Location</label></td>
                        </tr>
                        <tr>
                            <td style="padding-right: 4px;">
                                <div class="ds" style="height:32px;margin:4px 0"><input class="sf" id="q"
                                                                                        maxlength="512" name="q"
                                                                                        size="30" type="text" value="" placeholder="job title, keyword, or company name"/>

                                </div>
                            </td>
                            <td style="padding-right: 4px">
                                <div class="ds" style="height:32px;margin:4px 0"><input autocomplete="off" class="sf"
                                                                                        id="l" maxlength="64" name="l"
                                                                                        size="25" type="text" value="" placeholder="city or state"/>
                                </div>
                            </td>
                            <td><span class="ds"><span class="lsbb"><input class="lsb" id="fj" type="submit"
                                                                           value="Search Jobs"/></span></span></td>
                        </tr>
                    </table>
                </form>
                <div id="recent_searches">
                    <div id="heading" style="text-align:center;">{{ total | intcomma }} new <a href="{% url 'search' %}">jobs in Nigeria</a> on jobsmaster.com.ng.</div>

                </div>


                <script type="text/javascript">document.getElementById('q').focus();</script>
            </center>
        </div>
    </div>
    {% include 'website/website-v1/includes/footer.html' %}
</div>

{% include 'website/website-v1/includes/body-scripts.html' %}
</body>
</html>