{% load staticfiles %}
<!DOCTYPE html>
<html>
{% include 'website/website-v1/includes/head.html' %}
<body id="jobview">
{% include 'website/website-v1/includes/top-nav.html' %}
{% include 'website/website-v1/includes/search-form.html' %}

<div class="two_cols_right" id="main">
    <div id="cnt">
        <div id="rcnt">
            <div id="centre_col">
                <div class="message_container hidden"></div>
                <div id="vj_container">
                    <div class="view_job" id="j_a18c5bc915ee2742f4673580f154b464">
                        <div class="job_info"><h1>Chef Concierge</h1><span class="company">Accor</span> - <span
                                class="location">Singapore</span>

                            <p><a href="/job/rd/a18c5bc915ee2742f4673580f154b464?sp=serp&amp;sr=1"
                                  class="small_apply_link" data-rd="LS0tCjpzcjogMQo6c3A6IHNlcnAK%0A" rel="nofollow"
                                  source_page="viewjob" target="_blank" title="Chef Concierge">View original job posting
                                »</a></p>

                            <div class="summary">
                                <div>
                                    <div class="js_row">
                                        <div class="js_first_column"><p> Provides a warm and welcoming arriving
                                            experience for all of our guestsHolding the “Keys to the City” and providing
                                            guests with accurate and current information Ensures strong presence in the
                                            lobby at all times Manages and coordinates the concierge and bell desk
                                            departmentsCoordinates drivers, limousines and valet service for arriving
                                            and departing guestsSet up of entire department policies and procedures
                                            ensuring all procedures in accordance with Accor standardsEnsure that the
                                            Concierge team is dynamic and efficient and all tasks are completed with The
                                            Singapore Resort and Spa guidelines. </p></div>
                                        <div>
                                            <div><strong> Sofitel and its Ambassadors</strong><br>

                                                <div>The Sofitel brand is based on three core values guaranteed by each
                                                    employee every day:<br><b>A Passion for Excellence, an Essence of
                                                        Pleasure and a Spirit of Openness.</b>

                                                    <p>Through their actions and know-how, the Men and Women that are
                                                        the creators of Sofitel’s luxury, offer clients a <b>highly
                                                            personalised service.</b> By transforming every detail into
                                                        a unique moment of pure <b>comfort and elegance</b>, they create
                                                        and nurture a relationship with their guests.<br> The Sofitel
                                                        values are also at the heart of the <b>communication between
                                                            employees.</b> It is the legacy received and transmitted by
                                                        all those involved in the brand to guarantee the continuity of
                                                        the Sofitel spirit in the hotels and headquarters. </p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span class="date">1 day ago</span> - <span class="save_job toggle_label">save job</span> -
                            <span class="share_job toggle_label">share</span>



                    </div>
                    <div id="bottom_afs"></div>
                    <div id="rel_jobs"><h3>Related jobs</h3>
                        <ul id="jobresults">
                            <li class="result" id="r_f39819894c8ddbb60acb98ae160c5a15">
                                <div class="jwrap">
                                    <div class="job"><h2><a
                                            href="/job/rd/f39819894c8ddbb60acb98ae160c5a15?sp=serp&amp;sr=1"
                                            class="jobtitle" data-rd="LS0tCjpzcjogMQo6c3A6IHNlcnAK%0A" rel="nofollow"
                                            source_page="reljobs" target="_blank"
                                            title="Full Time Server/Concierge/Cashier/Chef/KitchenHelper/DishWasher">Full
                                        Time Server/<strong>Concierge</strong>/Cashier/<strong>Chef</strong>/KitchenHelper/DishWasher</a>
                                    </h2>

                                        <div class="job_meta"><span class="cite">Gumtree Singapore</span> - <span
                                                class="date">9 days ago</span></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        View all: <a href="/Chef-Concierge-jobs-in-Singapore" title="Chef Concierge jobs in Singapore">Chef
                            Concierge jobs in Singapore</a>
                        <hr/>
                        <ul id="jobresults">
                            <li class="result" id="r_55799893a03923c3fd06ba30ac19fda5">
                                <div class="jwrap">
                                    <div class="job"><h2><a
                                            href="/job/SOFITEL-SO-SINGAPORE-55799893a03923c3fd06ba30ac19fda5?from_url=http%3A%2F%2Fwww.jobs.com.sg%2Fjob%2FChef-Concierge-a18c5bc915ee2742f4673580f154b464%3Ffrom_url%3Dhttp%253A%252F%252Fwww.jobs.com.sg%252Fj%253Fl%253D%2526q%253DChef%2526since%253Dlv%26sp%3Dserp%26sr%3D1&amp;sp=serp&amp;sr=1"
                                            class="jobtitle" data-rd="LS0tCjpzcjogMQo6c3A6IHNlcnAK%0A" rel="nofollow"
                                            source_page="reljobs" target="_blank"
                                            title="SOFITEL SO SINGAPORE | OPEN CASTING CALL">SOFITEL SO SINGAPORE | OPEN
                                        CASTING CALL</a></h2><span class="company"><strong>Accor</strong></span> - <span
                                            class="location">Singapore</span>

                                        <div class="job_meta"><span class="cite">Accor</span> - <span class="date">7 days ago</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="result" id="r_18463ff0aa9df9d4937d8e6698490635">
                                <div class="jwrap">
                                    <div class="job"><h2><a
                                            href="/job/Guest-Services-Agent-18463ff0aa9df9d4937d8e6698490635?from_url=http%3A%2F%2Fwww.jobs.com.sg%2Fjob%2FChef-Concierge-a18c5bc915ee2742f4673580f154b464%3Ffrom_url%3Dhttp%253A%252F%252Fwww.jobs.com.sg%252Fj%253Fl%253D%2526q%253DChef%2526since%253Dlv%26sp%3Dserp%26sr%3D1&amp;sp=serp&amp;sr=1"
                                            class="jobtitle" data-rd="LS0tCjpzcjogMQo6c3A6IHNlcnAK%0A" rel="nofollow"
                                            source_page="reljobs" target="_blank"
                                            title="Guest Services Agent (So Welcome Agent)">Guest Services Agent (So
                                        Welcome Agent)</a></h2><span class="company"><strong>Accor</strong></span> -
                                        <span class="location">Singapore</span>

                                        <div class="job_meta"><span class="cite">Accor</span> - <span class="date">20 days ago</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="result" id="r_3db26898eef0b83c8180183e4d8279c7">
                                <div class="jwrap">
                                    <div class="job"><h2><a
                                            href="/job/Front-Office-Executive-3db26898eef0b83c8180183e4d8279c7?from_url=http%3A%2F%2Fwww.jobs.com.sg%2Fjob%2FChef-Concierge-a18c5bc915ee2742f4673580f154b464%3Ffrom_url%3Dhttp%253A%252F%252Fwww.jobs.com.sg%252Fj%253Fl%253D%2526q%253DChef%2526since%253Dlv%26sp%3Dserp%26sr%3D1&amp;sp=serp&amp;sr=1"
                                            class="jobtitle" data-rd="LS0tCjpzcjogMQo6c3A6IHNlcnAK%0A" rel="nofollow"
                                            source_page="reljobs" target="_blank" title="Front Office Executive">Front
                                        Office Executive</a></h2><span class="company"><strong>Accor</strong></span> -
                                        <span class="location">Singapore</span>

                                        <div class="job_meta"><span class="cite">Accor</span> - <span class="date">23 days ago</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        View all: <a href="/Accor-jobs" title="Accor jobs">Accor jobs</a></div>
                    <h4>Related job searches</h4>
                    <ul id="vj_jmore">
                        <li><a href="/Chef-Concierge-jobs" title="Chef Concierge jobs">Chef Concierge jobs</a></li>
                        <li><a href="/Chef-Concierge-jobs-in-Singapore" title="Chef Concierge jobs in Singapore">Chef
                            Concierge jobs in Singapore</a></li>
                        <li><a href="/Accor-jobs" title="Accor jobs">Accor jobs</a></li>
                        <li><a href="/Accor-jobs-in-Singapore" title="Accor jobs in Singapore">Accor jobs in
                            Singapore</a></li>
                        <li><a href="/jobs-in-Singapore" title="Singapore jobs">Singapore jobs</a></li>
                    </ul>
                </div>
            </div>
            <div id="rhscol">
                <div id="rhs">
                    <div id="rhs_wrapper">
                        <div id="side_afs"></div>
                    </div>
                </div>
            </div>
            {% include 'website/website-v1/includes/footer-2.html' %}
        </div>
    </div>
</div>
{% include 'website/website-v1/includes/body-scripts.html' %}
</body>
</html>