{% load staticfiles %}

<!DOCTYPE html>
<html>
{% include 'website/website-v1/includes/head.html' %}
<body id="search">
{% include 'website/website-v1/includes/top-nav.html' %}
{% include 'website/website-v1/includes/search-form.html' %}
<div class="three_cols" id="main">
    <div id="cnt">
        <div id="rcnt">
            {% include 'website/website-v1/includes/left-nav.html' %}
            <div id="centre_col">
                <div class="message_container hidden"></div>
                <div id="search_info">Displaying jobs <b>{{ results.start_index }}&nbsp;-&nbsp;{{ results.end_index }}</b> of <b>{{ total }}</b> in total</div>
                <div id="search_meta">
                    {% include 'website/website-v1/includes/email-alert-form.html' %}
                    <div class="clear"></div>
                </div>
                <div id="top_afs"></div>
                <div id="search_controls">

                    <div id="job_filters">Show: <span class="separator"></span><span><a href="/search?l=&amp;q={{ q }}"
                                                                                        rel="nofollow"
                                                                                        title="all jobs jobs">new
                        jobs</a></span>

                        <!--<span class="separator">&nbsp;|&nbsp;</span><span-->
                            <!--class=" selected">new jobs</span>-->

                    </div>
                </div>
                <div class="clear"></div>
                <ul class="has_new_jobs" id="jobresults">

                    {% for result in results %}
                    <li class="result" id="">
                        <div class="jwrap">
                            <div class="job"><h2><a
                                    href="{{ result.url }}"
                                    class="jobtitle" rel="nofollow"
                                    target="_blank" title="{{ result.title }}">{{ result.title | title }}</a></h2><span
                                    class="company">{{ result.company | title }}</span> - <span class="location">
                                {% if result.location %}
                                    {{ result.location | title }}
                                {% else %}
                                    Nigeria
                                {% endif %}
                            </span>

                                <div class="summary">{{ result.summary }}
                                </div>
                                <div class="job_meta"><span class="date">Posted {{ result.date | timesince }} ago.</span> </div>

                            </div>

                        </div>
                    </li>
                    {% endfor %}








                </ul>

                <div id="bottom_afs"></div>
                {% include 'website/website-v1/includes/pagination.html' %}
            </div>

           {% include 'website/website-v1/includes/footer-2.html' %}
        </div>
    </div>
</div>
{% include 'website/website-v1/includes/body-scripts.html' %}
</body>
</html>