<div id="email-alert-box" class="col-md-12">
                <span style="display: block; margin-bottom: 5px;" id="error_span"><span class="glyphicon glyphicon-envelope"></span><strong>Create email alert for this {% if page_name == 'organization' %}company{%else%}search.{%endif%}</strong></span>
                <span>Your email: <input type="text" id="top_email_alert_email" class="input_text" style="width:{% if page_name == 'organization' or page_name == 'companies' %}240px;{%else%} 300px;{%endif%}"> <input type="submit" id="subscribe_button" class="input_submit" value="{% if page_name == 'organization'%}Follow{%else%}Save alert{%endif%}"></span>
            </div>