{% load staticfiles %}
<!--Add this Section Before the Head tag in you html-->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=579931202029858&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<!--End of section-->

		<!-- THis is the Share Popup Dialog Add This Section anywhere -->
		<div class="share-popup">
			<h2>Stay Connected</h2>
			<span class="share-btn-close"><img src="{% static 'website/website-v2/img/close.png' %}" style="width:30px;height:30px;"></span>
			<div class="share-buttons">
				<!--Change The Href link to the twitter Page Link-->
			    <a href="https://twitter.com/jobsmasterng" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @twitterapi</a>
					    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);
					js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				<br /><br />

				<!--Change The data-href value to the facebook Page Link-->
				<div class="fb-like-box" data-href="https://www.facebook.com/JobsMasterNigeria" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
			</div>
		</div>
		<!--End Of Share Popup-->
