{% load staticfiles %}
<footer class="footer-margin-top" style="text-align:center;">
      <span><a href="/page/about/">About</a> - <a href="/page/contact/">Contact Us</a> - <a href="{% static 'sitemap.xml' %}">Sitemap</a> - <a href="/companies-hiring-in-Nigeria.html">Companies hiring in Nigeria</a></span>
    </footer>