<header class="row">
        <div class="col-md-2">
            <a href="/" title="jobsmaster: one search. all jobs in Nigeria."><img src="http://jobsmaster.com.ng/static/jobsmaster-logo.png" style="width: 175px; height: 72px;"></a>


        </div>

        <div class="col-md-7">
            <div class="row" id="top-search-form">
                <form action="/search" method="get">
                    <div class="col-md-5">
                        <input type="text" name="q" class="input_text" value="{{q}}" style="width: 100%" placeholder="job title, keyword, or company">
                    </div>
                    <div class="col-md-5">
                        <input type="text" name="l" class="input_text" value="{{l}}" style="width: 100%" placeholder="city or state">
                    </div>
                    <div class="col-md-2">
                        <input type="submit"  value="Search" class="input_submit">
                    </div>
                </form>

            </div>
        </div>



        <div class="col-md-3" id="">

        </div>
    </header>