
<aside class="col-md-2 hidden-xs" id="left-pane">
        <h1 class="search-title"><strong>{% if q %}{{ q }}{% else %} all {% endif %} jobs </strong>{% if l %}in {{l}}{% endif %}</h1>
        {% if page_name == 'category' %}
            <ul class="list-unstyled">
                {% for state in states %}
                <li class="{% if l == state.slug %}selected{% endif %}">
                    <a href="/{{q}}-jobs-in-{{ state.slug }}.html">{{ state.name }}</a>
                    {% if l == state.slug %}
                    <span class="pull-right"><a href="/{{q}}-jobs-in-Nigeria.html">clear</a></span>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% else %}
        <ul class="list-unstyled">
            <li><strong>Listed Date</strong></li>

            <li class="{% if a == 1 %}selected{% endif %}">
                <a href="/search/?a=1&amp;l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" title="last 24 hours jobs in Nigeria">Last 24 hours</a>
                {% if a == 1 %}
                <span class="pull-right"><a href="/search/?l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" class="clear">clear</a></span>
                {% endif %}
            </li>

            <li class="{% if a == 7 %}selected{% endif %}">
                <a href="/search/?a=7&amp;l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" title="last 7 days jobs in Nigeria">Last 7 days</a>
                {% if a == 7 %}
                    <span class="pull-right"><a href="/search/?l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" class="clear">clear</a></span>
                {% endif %}
            </li>
            <li class="{% if a == 14 %}selected{% endif %}">
                <a href="/search/?a=14&amp;l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" title="last 14 days jobs in Nigeria">Last 14 days</a>
                {% if a == 14 %}
                    <span class="pull-right"><a href="/search/?l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" class="clear">clear</a></span>
                {% endif %}
            </li>
            <li class="{% if a == 30 %}selected{% endif %}">
                <a href="/search/?a=30&amp;l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" title="last 30 days jobs in Nigeria">Last 30 days</a>
                {% if a == 30 %}
                    <span class="pull-right"><a href="/search/?l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" class="clear">clear</a></span>
                {% endif %}
            </li>
        </ul>

        <ul class="list-unstyled">
            <li><strong>Job Type</strong></li>
            <li>
                <a href="/search/?jt=pt&amp;l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" title="part-time jobs in Nigeria">Part-time</a>
                {% if jt == 'pt' %}
                    <span class="pull-right"><a href="/search/?l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" class="clear">clear</a></span>
                {% endif %}
            </li>

            <li>
                <a href="/search/?jt=ft&amp;l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" title="full-time jobs in Nigeria">Full-time</a>
                {% if jt == 'ft' %}
                    <span class="pull-right"><a href="/search/?l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" class="clear">clear</a></span>
                {% endif %}
            </li>

            <li>
                <a href="/search/?jt=p&amp;l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" title="parmanent jobs in Nigeria">Parmanent</a>
                {% if jt == 'p' %}
                    <span class="pull-right"><a href="/search/?l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" class="clear">clear</a></span>
                {% endif %}
            </li>

            <li>
                <a href="/search/?jt=i&amp;l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" title="Internship and  Industrial attachment jobs in Nigeria">Internship</a>
                {% if jt == 'i' %}
                    <span class="pull-right"><a href="/search/?l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" class="clear">clear</a></span>
                {% endif %}
            </li>
        </ul>
        {% endif %}
        <!--<ul class="list-unstyled">-->
            <!--<li><strong>Location</strong></li>-->
            <!--<li><a href="#">Last 24 hours</a></li>-->
            <!--<li><a href="#">Last 7 days</a></li>-->
            <!--<li><a href="#">Last 14 days</a></li>-->
            <!--<li><a href="#">Last 30 days</a></li>-->
        <!--</ul>-->
    </aside>
