 <ul class="pagination pagination-sm">
            {% if results.has_previous %}
                <li><a href="/companies-hiring-in-Nigeria.html?page={{ results.previous_page_number }}"><strong>&laquo;Previous</strong></a></li>
            {% endif %}
                 <li class="active"><a href="#">{{ current_page }}</a></li>


            {% if results.has_next %}

                {% for r in page_range %}

                        <li><a href="/companies-hiring-in-Nigeria.html?page={{ r }}">{{ r }}</a></li>

                {% endfor %}
                <li><a class="" href="#">...</a></li>

            <li><a href="/companies-hiring-in-Nigeria.html?page={{ results.next_page_number }}"><strong>Next&raquo;</strong></a></li>
            {% endif %}
 </ul>