 <ul class="pagination pagination-sm">
            {% if results.has_previous %}
                <li><a href="{% url 'search' %}?page={{ results.previous_page_number }}&q={{ q }}&l={{ l }}&a={{ a }}"><strong>&laquo;Previous</strong></a></li>
            {% endif %}
                 <li class="active"><a href="#">{{ current_page }}</a></li>


            {% if results.has_next %}

                {% for r in page_range %}

                        <li><a href="{% url 'search' %}?page={{ r }}&q={{ q }}&l={{ l }}&a={{ a }}">{{ r }}</a></li>

                {% endfor %}
                <li><a class="" href="#">...</a></li>

            <li><a href="{% url 'search' %}?page={{ results.next_page_number }}&q={{ q }}&l={{ l }}&a={{ a }}"><strong>Next&raquo;</strong></a></li>
            {% endif %}
 </ul>