<div class="col-md-12" id="similar-jobs">
            <strong>Similar Jobs</strong>
            <div class="similar-job" itemscope itemtype="http://schema.org/JobPosting">
                <meta itemprop="specialCommitments" content="VeteranCommit" />
                <h3 class="similar-job-title" itemprop="title"><a href="#" title="" target="_blank">Assurance associate in a company</a></h3>
                <div><span itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">Company name</span> - <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"><span class="job-location"  itemprop="addressLocality">Lagos</span></span></div>

            </div>

            <div class="similar-job" itemscope itemtype="http://schema.org/JobPosting">
                <meta itemprop="specialCommitments" content="VeteranCommit" />
                <h3 class="similar-job-title" itemprop="title"><a href="#" title="" target="_blank">Assurance associate in a company</a></h3>
                <div><span itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">Company name</span> - <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"><span class="job-location"  itemprop="addressLocality">Lagos</span></span></div>

            </div>

            <div class="similar-job" itemscope itemtype="http://schema.org/JobPosting">
                <meta itemprop="specialCommitments" content="VeteranCommit" />
                <h3 class="similar-job-title" itemprop="title"><a href="#" title="" target="_blank">Assurance associate in a company</a></h3>
                <div><span itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">Company name</span> - <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"><span class="job-location"  itemprop="addressLocality">Lagos</span></span></div>

            </div>
        </div>