{% load highlight %}
<div class="job" itemscope itemtype="http://schema.org/JobPosting">
                    <meta itemprop="specialCommitments" content="VeteranCommit" />
                    <h2 itemprop="title"><a href="/job/?pk={{result.pk}}" title="
                    {% if result.title %}
                        {{ result.title }}
                    {% else %}
                        {{ result.meta_title }}
                    {% endif %}

                    " rel="nofollow" target="_blank">
                        {% if result.title.strip|length > 0 %}
                            {{ result.title|title|truncatechars:60 }}

                        {% else %}
                            {{ result.meta_title|title|truncatechars:60 }}
                        {% endif %}

                    </a></h2>
                    <div>{% if result.company %}<span itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization"><a href="/cmp/{{ result.company.split|join:'-'}}/">{{ result.company | title }}</a></span> - {% endif %}<span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"><span class="job-location"  itemprop="addressLocality">{% if result.location %}
                                    {{ result.location | title }}
                                {% else %}
                                    Nigeria
                                {% endif %}</span></span></div>
                    <div class="summary" itemprop="description">
                        {{ result.summary }}
                    </div>
                    <div class="job_meta">
                        <span class="posted-date">Posted {{ result.date | timesince }} ago.</span> -
                        <span class="job-type" itemprop="employmentType">{{ result.type | title }}</span>
                        <span class="text-warning">{{result.source}}</span>
                        <!--<span class="send-job">email</span>--->
                    </div>

                </div>