 <div class="similar-job" itemscope itemtype="http://schema.org/JobPosting">
            <meta itemprop="specialCommitments" content="VeteranCommit" />
            <h3 class="similar-job-title" itemprop="title"><a href="{{ job.url }}" title="
            {% if job.title %}
                    {{ job.title }}
                {% else %}
                    {{ job.meta_title }}
                {% endif %}
            " rel="nofollow" target="_blank">
                {% if job.title %}
                    {{ job.title }}
                {% else %}
                    {{ job.meta_title }}
                {% endif %}
            </a></h3>
            <div><span itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">{{ job.company }}</span> - <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place"><span class="job-location"  itemprop="addressLocality">{{ job.location }}</span></span></div>

        </div>