<div class="navbar navbar-static-top bs-docs-nav" id="navigation">
        <div class="container">
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="/" >Home</a></li>
                    <li><a href="http://careertips.jobsmaster.com.ng" target="_blank">Career tips</a></li>
                    <li><a href="/alert/email_sms/">Alerts</a></li>
                </ul>
            </nav>
        </div>
    </div>