{% extends 'website/website-v2/base.html' %}
        <p>Email and Mobile job alerts.</p>
        {% block body %}
        {% include 'website/website-v2/includes/top-nav.html'%}
        {% include 'website/website-v2/includes/header.html'%}

        <div class="container-fluid" id="divider">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <h1>Create Email and Mobile Job Alert</h1>
                        <p>
                            Simple enter a search and jobsmaster will email you new jobs that match your search.
                            We send our alerts once a day so new job matches are included in a single daily email.
                        </p>

                        <ul>
                            <li>
                                Track jobs in your city, with your employer or for a company you want to work for. We'll let you know whenever we find a job that matches.

                            </li>
                            <br>
                            <li>
                                Stop and start your alerts at any time. To cancel an alert, click the "Cancel" link at the bottom of every alert email.
                            </li>
                        </ul>
        </div>
        <div class="col-md-4" style="margin-top:20px; padding:10px; border:1px solid #f3f3f3">
            {% if message %}
            <div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Alert!</strong> {{message}}
</div>
            {% endif %}



            <form class="form-horizontal" role="form" action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fullname" class="col-md-3">Fullname</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="{{ form.fullname.html_name }}" placeholder="Ola Gbenro" required>
                        <small class="text-danger">{{ form.fullname.errors }}</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-3">E-mail</label>
                    <div class="col-md-9">
                        <input type="email" class="form-control" name="{{ form.email.html_name }}" placeholder="you@email.com" required>
                        <small class="text-danger">{{ form.email.errors }}</small>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="email" class="col-md-3">Mobile</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="{{ form.tel.html_name }}" placeholder="08055301781" required>
                        <small class="text-danger">{{ form.tel.errors }}</small>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="email" class="col-md-3">Keyword</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="{{ form.keyword.html_name }}" placeholder="teaching job" required>
                        <small class="text-danger">{{ form.keyword.errors }}</small>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="email" class="col-md-3">Location</label>
                    <div class="col-md-9">
                        <select class="form-control" name="{{form.location.html_name}}">
                           {% for value, text in form.location.field.choices %}
                            <option value="{{value}}">{{text}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                 <div class="form-group">
                    <label for="email" class="col-md-3">Type</label>
                    <div class="col-md-9">
                        <select class="form-control" name="{{form.type.html_name}}">
                           {% for value, text in form.type.field.choices %}
                            <option value="{{value}}">{{text}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3"></label>
                    <div class="col-md-9">
                    <input type="submit" class="btn btn-lg btn-danger" value="Create Alert">

                    </div>
                </div>



            </form>



        </div>
    </div>
</div>

        {% include 'website/website-v2/includes/footer.html' %}


        {% endblock %}