body {
                           font: 13px arial, helvetica, clean, sans-serif;
                           *font-size: small;
                           *font: x-small
                       }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

a, a:hover, a:visited {
    color: #0033CC;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

label {
    font-weight: bold;
    font-size: 12pt;
}

input.sf {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    border-right-color: #999;
    color: #000;
    font: 18px arial, sans-serif bold;
    margin: 0;
    padding: 5px 8px 0 6px;
    vertical-align: top
}

#q, #l {
    height: 25px
}

.ds {
    border-bottom: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    display: inline-block;
    margin: 3px 0 4px 4px;
}

* html .ds {
    border: none
}

.lsbb {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 30px
}

.lsb {
    background: transparent;
    padding: 0 6px;
    border: medium none;
    color: #000000;
    cursor: pointer;
    font: 15px arial, sans-serif;
    height: 30px;
    margin: 0;
    outline: 0 none;
    vertical-align: top;
}

#logo {
    margin-bottom: 30px;
}

#error {
    color: red;
    margin: 1em 0 1em;
    border: 1px dashed #FF6600;
    padding: 0.2em 0.3em 0.2em 0.2em;
}

#bd {
    margin-top: 10em;
}

#ft {
    margin-top: 60px;
}

#account {
    padding: 10px 30px 10px;
    text-align: right
}

#recent_searches {
    width: 370px;
    margin: 40px auto 0;
    text-align: left;
}

#recent_searches ul li {
    list-style: none;
    line-height: 25px
}

#recent_searches .count {
    color: #093
}

#recent_searches #heading a {
    color: #77C
}

#recent_searches #heading {
    color: #666
}

#total_count {
    margin-top: 30px;
}

#total_count span {
    color: #d14836
}

#link_resume {
    color: #d14836
}

.acResults {
    padding: 0px;
    border: 1px solid #000;
    background-color: #FFF;
    overflow: hidden;
    z-index: 10000;
}

.acResults ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.acResults li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 16px;
    overflow: hidden;
}

.acResults li strong {
    font-weight: bolder;
}

.acSelect {
    background-color: #36C;
    color: #FFF;
}

td {
    text-align: left;
}