#browse_jobs #searchform {
    border-bottom: none
}

#browse_jobs #rcnt {
    margin-top: 5px
}

#browse_jobs .breadcrumb {
    margin-top: 10px;
    height: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #e5e5e5;
    padding: 3px 20px 0px 20px;
    color: gray;
    background: #ebebeb;
    font-weight: bold
}

h1#browse_header {
    margin: 20px 0 0 80px;
    font-size: 20px
}

div.browse {
    margin: 20px 0 40px 80px
}

div.browse h1 {
    font-size: 18px;
    margin-bottom: 15px
}

div.browse .browse_header h3 {
    margin-bottom: 0px;
    font-size: normal
}

div.browse ul {
    line-height: 130%;
    margin: 5px 0pt 8px
}

div.browse ul li {
    padding: 5px 0px
}

div.browse ul li a.clink {
    color: #666;
    font-size: 11px
}

div.browse ul.cols4 {
    float: left;
    width: 180px
}

div.browse ul.cols3 {
    float: left;
    width: 240px
}

div.browse ul.cols2 {
    float: left;
    width: 360px
}

#cms_content #vertical_nav {
    text-align: right;
    padding-right: 30px
}

#cms_content #vertical_nav li {
    padding-bottom: 15px
}

#cms_content div.right {
    width: 500px;
    line-height: 1.5em
}

#cms_content div.right p {
    margin-bottom: 10px
}

#cms_content div.right h2 {
    margin-bottom: 10px
}

table#email_alerts td.last_column {
    text-align: left;
    width: 149px
}

table#email_alerts span.created_at, table#email_alerts span.status, table#email_alerts span.how_often {
    color: #666
}

table#email_alerts span.active {
    color: #080
}

#email_alert_container {
    float: left;
    width: 250px
}

#alert_preview {
    border: 2px solid #e8e8e8;
    padding: 12px 17px;
    margin-left: 270px;
    background-color: #fff
}

#modal_container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: solid 4px #bfbfbf;
    background-color: #fafafa
}

#job_alert_modal {
    border: none
}

#job_alert_modal a.close_box {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent url(http://cdn.jobary.com/assets/logo_small-345471e4ffb1cd57ba7ad3ef0fdfd754.gif) no-repeat scroll -156px -55px;
    width: 21px;
    height: 15px;
    margin-bottom: 10px;
    cursor: pointer
}

#job_alert_modal .modal_wrapper {
    display: block;
    margin-top: 20px
}

#job_alert_modal .modal_wrapper span.jal {
    font-size: 20px;
    font-weight: normal
}

#job_alert_modal .modal_wrapper span.jal .ws_sts {
    top: 4px
}

#job_alert_modal p.link_text {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px
}

#modal_email_icon {
    background: transparent url(http://cdn.jobary.com/assets/logo_small-345471e4ffb1cd57ba7ad3ef0fdfd754.gif) no-repeat scroll -43px -55px;
    height: 100%;
    left: 0pt;
    position: absolute;
    top: 0px;
    width: 21px
}

#modal_new_email_alert > input.flat_button {
    margin-right: 0
}

#email_alert_cancelled {
    width: 380px
}

#email_alert_cancelled .frequency_message span {
    color: #d14836;
    padding-right: 3px;
    font-size: 15px
}

#email_alert_restored {
    width: 380px
}

#email_alert_restored .message {
    border: 1px solid #bbb;
    background: #efefef;
    padding: 12px
}

#cancel_reasons_container {
    width: 350px;
    border: 1px solid #bbb;
    background: #efefef;
    padding: 12px
}

#cancel_reasons_container #cancel_reasons {
    margin-top: 0px
}

#cancel_reasons_container #cancel_reasons li {
    margin: 0 0 8px 0
}

#cancel_reasons_container #cancel_reasons li .reason label {
    font-weight: normal;
    display: inline;
    margin-left: 5px
}

#cancel_reasons_container #cancel_reasons li textarea {
    height: 80px;
    width: 100%
}

#cancel_reasons_container #cancel_reasons li input[type='text'] {
    width: 100%
}

#cancel_reasons_container #cancel_reasons li #public_label {
    display: inline;
    font-weight: normal;
    margin-left: 5px
}

#cancel_reasons_container #cancel_reasons li .more_info_container {
    margin-top: 10px;
    display: none;
    border-bottom: 2px solid #d8d8d8
}

#cancel_reasons_container #cancel_reasons li #comments_container {
    padding-left: 15px
}

#cancel_reasons_container #cancel_reasons li #too_much_email_container {
    padding-left: 15px
}

#cancel_reasons_container #cancel_reasons li #too_much_email_container p {
    margin-bottom: 10px;
    font-weight: bold
}

#cancel_reasons_container #cancel_reasons li #other_comments_container {
    padding-left: 15px;
    border-bottom: none
}

#cancel_reasons_container #cancel_reasons li #other_comments_container label {
    font-weight: normal
}

.facet {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px
}

.facet li.row {
    position: relative;
    font-size: 12px;
    margin: 2px 0;
    padding: 1px;
    white-space: nowrap;
    overflow: hidden;
    position: relative
}

.facet li.row a {
    text-decoration: none;
    color: #666
}

.facet li.row a:hover {
    text-decoration: underline
}

.facet li.row span.count {
    position: absolute;
    padding-left: 10px;
    right: 0;
    background-color: #fff;
    color: #666;
    z-index: 99
}

.facet li.row span.clear_facet a {
    color: #d14836;
    font-weight: normal
}

.facet li.selected, .facet li.selected a {
    color: #d14836
}

.facet .more span, .facet .less span {
    cursor: pointer;
    color: #d14836;
    font-size: 11px
}

.facet .more span:hover, .facet .less span:hover {
    text-decoration: underline
}

.facet li.level1, .facet li.level2 {
    font-weight: bold
}

.facet li.level2 {
    padding-left: 9px
}

.facet li.level3, .facet ul.level3 {
    padding-left: 18px
}

#title_facet span.count, #location_facet span.count, #source_facet span.count, #category_facet span.count {
    color: #fff
}

ul.form, table.form {
    margin-top: 15px
}

ul.form li, table.form li {
    margin: 0 0 15px
}

ul.form label, table.form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px
}

ul.form label.checkbox, table.form label.checkbox {
    display: inline;
    margin-left: 5px;
    font-weight: normal
}

ul.form input[type=email], ul.form input[type=password], ul.form input[type=text], ul.form input[type=url], ul.form textarea, table.form input[type=email], table.form input[type=password], table.form input[type=text], table.form input[type=url], table.form textarea {
    display: inline-block;
    height: 30px;
    line-height: 26px;
    margin: 0;
    padding-left: 8px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid silver;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 15px;
    width: 250px
}

ul.form input[type=email]:hover, ul.form input[type=password]:hover, ul.form input[type=text]:hover, ul.form input[type=url]:hover, ul.form textarea:hover, table.form input[type=email]:hover, table.form input[type=password]:hover, table.form input[type=text]:hover, table.form input[type=url]:hover, table.form textarea:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
}

ul.form input[type=email]:focus, ul.form input[type=password]:focus, ul.form input[type=text]:focus, ul.form input[type=url]:focus, ul.form textarea:focus, table.form input[type=email]:focus, table.form input[type=password]:focus, table.form input[type=text]:focus, table.form input[type=url]:focus, table.form textarea:focus {
    outline: none;
    border: 1px solid #4d90fe;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3)
}

ul.form input[type=email][disabled=disabled], ul.form input[type=number][disabled=disabled], ul.form input[type=password][disabled=disabled], ul.form input[type=text][disabled=disabled], ul.form input[type=url][disabled=disabled], table.form input[type=email][disabled=disabled], table.form input[type=number][disabled=disabled], table.form input[type=password][disabled=disabled], table.form input[type=text][disabled=disabled], table.form input[type=url][disabled=disabled] {
    border: 1px solid #e5e5e5;
    background: #f5f5f5
}

ul.form input[type=email][disabled=disabled]:hover, ul.form input[type=number][disabled=disabled]:hover, ul.form input[type=password][disabled=disabled]:hover, ul.form input[type=text][disabled=disabled]:hover, ul.form input[type=url][disabled=disabled]:hover, table.form input[type=email][disabled=disabled]:hover, table.form input[type=number][disabled=disabled]:hover, table.form input[type=password][disabled=disabled]:hover, table.form input[type=text][disabled=disabled]:hover, table.form input[type=url][disabled=disabled]:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

ul.form input.long, table.form input.long {
    width: 400px
}

ul.form textarea, table.form textarea {
    height: 200px;
    width: 400px
}

ul.form div.field_with_errors input[type=email], ul.form div.field_with_errors input[type=password], ul.form div.field_with_errors input[type=text], ul.form div.field_with_errors input[type=url], ul.form div.field_with_errors textarea, table.form div.field_with_errors input[type=email], table.form div.field_with_errors input[type=password], table.form div.field_with_errors input[type=text], table.form div.field_with_errors input[type=url], table.form div.field_with_errors textarea {
    border: 1px solid #dd4b39
}

.flat_button {
    cursor: pointer;
    padding-bottom: 20px;
    clear: both;
    font: bold 12px Helvetica, Arial, sans-serif;
    text-decoration: none;
    padding: 5px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color 0.218s;
    -moz-transition: border 0.218s;
    -o-transition: border-color 0.218s;
    transition: border-color 0.218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f5f5f5), to(#f1f1f1));
    background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#f5f5f5), to(#f1f1f1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-right: 10px
}

.flat_button:hover {
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15)
}

.flat_button:active {
    border-color: #444
}

.submit_button {
    border: 1px solid #3079ed;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
    background-image: linear-gradient(top, #4d90fe, #4787ed)
}

.submit_button:hover {
    border: 1px solid #2f5bb7;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
    background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
    background-image: linear-gradient(top, #4d90fe, #357ae8)
}

.submit_button:active {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3)
}

div.form_errors {
    color: #dd4b39;
    margin: 5px 0
}

div.form_errors h4 {
    margin: 5px 0 5px
}

div.form_errors li {
    margin-left: 15px;
    list-style-type: square
}

.cancel_link {
    padding: 5px 0 3px 3px;
    display: inline
}

.cancel_link a:visited {
    color: #12c
}

body#iframe #cnt {
    margin-left: 0;
    max-width: 1181px;
    min-width: 350px
}

body#iframe #rcnt {
    margin-top: 0px
}

body#iframe #centre_col {
    padding: 0px
}

body#iframe #top_nav {
    display: none
}

body#iframe #searchform {
    display: none
}

body#iframe #footer {
    display: none
}

body#iframe #login_message {
    display: none
}

body#iframe .user_links {
    display: none
}

body#iframe #error_explanation h2 {
    display: none
}

body#iframe .message_container {
    margin: 0px
}

body#iframe .user_content {
    margin: 0px
}

body#iframe h2 {
    margin-bottom: 10px
}

body#iframe #login_form {
    padding: 20px
}

body#iframe #login_form p.register_message {
    display: none
}

body#iframe #login_form li.remember_me {
    display: none
}

#job_searches a {
    color: #12c
}

#job_searches li {
    padding: 7px 0
}

#job_searches li span.seperator {
    padding: 0 5px
}

#job_searches li .count, #job_searches li .updated {
    color: #666
}

#job_searches li .remove {
    padding-left: 20px
}

#jobview {
    height: 55px
}

#jobview #centre_col {
    float: left;
    margin-right: 0px
}

#jobview #cnt {
    width: 100%
}

#jobview #rhs {
    padding: 15px 0 15px 15px;
    width: auto;
    margin-left: 25px;
    margin-top: 0;
    position: static;
    margin-left: 600px
}

#jobview #rhs #rhs_wrapper {
    margin-left: 19px;
    position: relative;
    padding-left: 24px;
    border-left: 2px solid #ebebeb
}

#jobview #rhs #rhs_wrapper span.arrow_left {
    position: absolute;
    left: -19px;
    _left: -42px;
    top: 34px;
    background: url(http://cdn.jobary.com/assets/arrow_left-8b9b1c33fc63db07380739a292e459fa.gif);
    width: 19px;
    height: 34px
}

#jobview .apply_header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #d14836
}

#jobview .instruction {
    margin-bottom: 5px;
    color: #666
}

#jobview .jobseeker-apply-widget {
    margin-top: 10px;
    display: block
}

.apply_container_bottom {
    margin-top: 20px
}

#vj_container {
    padding-left: 15px
}

#vj_container div.view_job {
    width: 550px
}

#vj_container div.view_job h1 {
    font-size: 17px
}

#vj_container div.view_job .job_info .summary {
    margin: 10px 0 7px 0px;
    line-height: 140%
}

#vj_container div.view_job .job_info .summary .js_row {
    clear: both
}

#vj_container div.view_job .job_info .summary .js_row p {
    margin: 0px
}

#vj_container div.view_job .job_info .summary p {
    margin: 10px 0 10px 0px
}

#vj_container div.view_job .job_info .summary ul {
    list-style: square outside none;
    margin: 5px 0 10px 15px
}

#vj_container div.view_job .job_info .summary .js_first_column, #vj_container div.view_job .job_info .summary .js_first_th {
    float: left;
    margin-right: 10px
}

#vj_container div.view_job .job_info .summary .js_first_th {
    font-weight: bold
}

#vj_container div.view_job h4 {
    margin: 10px 0 5px
}

#vj_container .apply_link {
    font-size: 16px
}

#vj_container .aquo {
    color: #d14836;
    font-size: 25px;
    font-weight: bold
}

#vj_container #bottom_afs {
    margin-top: 20px
}

.apply_container_right {
    margin-bottom: 20px
}

ul#vj_jmore {
    line-height: 150%;
    list-style: square outside none;
    margin: 5px 0 10px 15px
}

#rel_jobs {
    margin: 1.5em 0pt;
    width: 550px
}

#rel_jobs hr {
    background-color: #ccc;
    border: medium none;
    color: #ccc;
    height: 1px;
    margin: 20px 0px 15px
}

#rel_jobs h3 {
    margin: 15px 0 10px
}

#rel_jobs .result {
    margin-bottom: 10px
}

#rel_jobs .result strong {
    font-weight: normal
}

#rhs_wrapper #courses {
    margin-top: 0px;
    padding: 0px;
    width: 220px
}

.acResults {
    padding: 0px;
    border: 1px solid #000;
    background-color: #FFF;
    overflow: hidden;
    z-index: 10000
}

.acResults ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0
}

.acResults ul li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: 16px;
    overflow: hidden
}

.acResults li strong {
    font-weight: bolder
}

.acSelect {
    background-color: #36C;
    color: #FFF
}

body {
    font: 13px arial, helvetica, clean, sans-serif;
    *font-size: small;
    *font: x-small
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0
}

body {
    color: #000
}

ol, ul {
    list-style: none outside none;
    margin: 0;
    padding: 0
}

#cnt {
    margin-left: 0;
    max-width: 1181px;
    min-width: 950px
}

#rcnt {
    margin-top: 26px;
    clear: both;
    position: relative;
    zoom: 1
}

#leftnav {
    margin-top: 0;
    min-height: 0;
    position: absolute;
    top: 1px;
    width: 175px;
    margin-left: 28px
}

#centre_col, #footer {
    padding: 0 15px;
    clear: both
}

#footer {
    clear: both
}

.three_cols #centre_col, .three_cols #footer {
    margin-left: 212px;
    margin-right: 254px
}

.two_cols_right #centre_col, .two_cols_right #footer {
    margin-left: 0px;
    margin-right: 254px
}

.one_col #centre_col, .one_col #footer {
    margin-left: 0px;
    margin-right: 0px
}

#centre_col .left {
    float: left;
    width: 212px
}

#centre_col .right {
    margin-left: 213px
}

#rhs {
    display: block;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 254px
}

#searchform {
    padding-top: 8px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px
}

.tsf-p {
    padding-left: 225px;
    padding-right: 260px;
    position: relative
}

#account {
    padding: 10px 30px 0px;
    margin-bottom: 15px;
    text-align: right
}

#account a:visited {
    color: #12c
}

#country_select {
    position: relative;
    margin-right: 25px;
    text-align: left
}

#country_select a.current_country {
    text-decoration: none;
    padding: 4px 20px 4px 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: solid 1px #dcdcdc;
    background-color: transparent;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    color: #444;
    position: relative
}

#country_select a.current_country .right_arrow {
    right: 2px;
    left: auto;
    background: transparent url(http://cdn.jobary.com/assets/logo_small-345471e4ffb1cd57ba7ad3ef0fdfd754.gif) no-repeat scroll -110px -51px
}

#account .dropdown {
    line-height: 20px
}

#account .dropdown .dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 140px;
    padding: 5px 0;
    list-style: none;
    background-color: #fff;
    margin: 2px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0.2
}

#account .dropdown .dropdown-menu a, #account .dropdown .dropdown-menu a:visited {
    padding: 10px 15px 10px;
    color: #444;
    text-decoration: none
}

#account .dropdown .dropdown-menu li:hover {
    color: #333;
    background: #eee
}

#account .open > .dropdown-menu {
    display: block
}

#link_resume {
    color: #d14836 !important
}

#logoc {
    margin-top: 2px;
    padding-left: 16px;
    padding-right: 12px;
    z-index: 1;
    position: absolute;
    left: 0px
}

* html #logoc {
    left: -225px
}

* html .ds {
    border: none
}

* html .jal .ws_sts {
    left: -22px
}

#logo {
    display: block;
    height: 45px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 190px
}

#logo img {
    border: 0 none;
    left: 0;
    position: absolute;
    top: 0px
}

#breadcrumb {
    padding: 10px 5px 0px 28px
}

#footer {
    margin: 30px 0
}

.hidden {
    display: none
}

.invisible {
    visibility: hidden;
    display: block
}

.clear {
    clear: both
}

.ws_label {
    padding-left: 15px;
    position: relative
}

.ws_sts {
    background: transparent url(http://cdn.jobary.com/assets/logo_small-345471e4ffb1cd57ba7ad3ef0fdfd754.gif) no-repeat scroll 0 -54px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px
}

input.sf {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #999;
    border-right-color: #999;
    color: #000;
    font: 18px arial, sans-serif bold;
    margin: 0;
    padding: 5px 8px 0 6px;
    vertical-align: top
}

#search_form_c {
    padding-bottom: 10px
}

#search_form_c table {
    width: 672px
}

#q, #l {
    height: 25px;
    margin-bottom: 5px
}

#jsform {
    margin-top: 4px
}

#jsform label.rendered {
    display: block;
    color: #666;
    margin-top: 3px
}

.ds {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    display: inline-block;
    margin: 0px
}

.ds label {
    color: #666
}

.lsbb {
    background: none repeat scroll 0 0 #eee;
    border-color: #ccc #999 #999 #ccc;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 30px
}

.lsb {
    background: none repeat scroll center bottom transparent;
    padding: 0 6px;
    border: medium none;
    color: #000;
    cursor: pointer;
    font: 15px arial, sans-serif;
    height: 30px;
    margin: 0;
    outline: 0 none;
    vertical-align: top
}

.message_container {
    text-align: center;
    margin: 0 0 20px
}

.error_notice, .info_notice {
    background-color: #c00;
    padding: 3px 20px;
    margin: 10px 0;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    border: 3px solid transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.error_notice p, .info_notice p {
    margin-bottom: 2px;
    padding: 5px
}

.error_notice ul li, .info_notice ul li {
    margin-left: 20px
}

.info_notice {
    background-color: #dfd;
    color: #000;
    border-color: #dfd
}

#error_explanation {
    color: #c00
}

#error_explanation h2 {
    margin: 10px 0 10px;
    font-size: small
}

.translation_missing {
    color: red;
    font-size: 30px
}

.pagination {
    clear: both;
    margin: 40px 0 40px
}

.pagination a, .pagination span, .pagination em {
    padding: 4px 6px;
    color: #12c;
    margin-left: 5px
}

.pagination .disabled {
    color: #aaa;
    border: 2px solid #ddd
}

.pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #d14836
}

.pagination a, .pagination .current {
    border: 1px solid #ddd;
    text-decoration: none
}

.pagination a:hover, .pagination a:focus {
    border-color: #0063dc;
    background: #0063dc;
    color: #fff
}

.pagination .page_info {
    color: #aaa;
    padding-top: 0.8em
}

.pagination .previous_page, .pagination .next_page {
    border-width: 2px
}

.pagination .previous_page {
    margin-right: 10px
}

.pagination .next_page {
    margin-left: 15px
}

#tab_content div.jwrap {
    max-width: 100%
}

#tab_content h2 {
    margin-bottom: 15px;
    font-size: 15px
}

#top_afs, #bottom_afs {
    margin-left: -3px
}

#jobresults {
    margin-top: 0px
}

#jobresults.has_new_jobs {
    margin-top: 10px
}

#sponsoredresults {
    margin-top: 0px
}

#sponsoredresults div.divider {
    height: 1px;
    background-color: #ccc;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 10px
}

#sponsoredresults .result {
    margin-bottom: 15px
}

.result {
    margin: 0 0 20px 0;
    width: 100%
}

.result a:link {
    color: #12c
}

div.jwrap, .view_job {
    overflow: hidden;
    max-width: 540px;
    font-size: 10pt;
    line-height: 1.3
}

div.jwrap h2, .view_job h2 {
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    font-size: medium;
    max-width: 450px
}

div.jwrap h2 span.separator, div.jwrap h2 span.new, .view_job h2 span.separator, .view_job h2 span.new {
    font-size: 13px
}

div.jwrap h2 span.separator, .view_job h2 span.separator {
    padding: 0 4px
}

div.jwrap h2 span.new, .view_job h2 span.new {
    color: #d14836
}

div.jwrap .jobtitle, .view_job .jobtitle {
    font-size: 16px
}

div.jwrap .company, .view_job .company {
    font-size: 11pt;
    color: #444
}

div.jwrap .location, div.jwrap .salary, .view_job .location, .view_job .salary {
    color: #666;
    font-size: 11pt
}

div.jwrap .cite, .view_job .cite {
    color: gray
}

div.jwrap .date, .view_job .date {
    color: gray
}

div.jwrap .saved, .view_job .saved {
    color: #d14836
}

div.jwrap .quick_apply, .view_job .quick_apply {
    color: #d14836
}

li.sponsored div.job .cite {
    color: #d14836
}

.ws_sts {
    background: transparent url(http://cdn.jobary.com/assets/logo_small-345471e4ffb1cd57ba7ad3ef0fdfd754.gif) no-repeat scroll -94px -54px
}

span.more_info, span.save_job, span.remove_job, span.share_job {
    color: #77c;
    cursor: pointer;
    text-decoration: underline
}

span.highlighted {
    color: #12c
}

.open .ws_sts {
    background-position: -109px -54px
}

.box {
    background-color: #fafafa;
    border: 1px solid #ebebeb;
    margin: 5px 0 0;
    padding: 10px;
    position: relative
}

.box h4 {
    margin: 5px 0
}

.box a.close_box {
    position: absolute;
    right: 3px;
    top: 4px;
    background: transparent url(http://cdn.jobary.com/assets/logo_small-345471e4ffb1cd57ba7ad3ef0fdfd754.gif) no-repeat scroll -156px -55px;
    width: 21px;
    height: 15px
}

.anon_save_job p {
    margin-bottom: 5px
}

div.jmore li {
    line-height: 150%;
    list-style: square outside none;
    margin: 0 0 0 15px
}

div.share table.form {
    margin-top: 0px
}

div.share table.form td {
    padding: 5px 10px 5px 0
}

div.share table.form input[type='text'] {
    line-height: 25px;
    height: 25px
}

div.share table.form textarea {
    height: 50px;
    width: 250px
}

div.share table.form label {
    padding-top: 5px;
    font-weight: normal
}

#search_info {
    color: #3c3c3c;
    font-size: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#job_alert_top.hide_form, #job_alert_bottom.hide_form {
    background-color: #fff;
    border: none
}

#job_alert_top.hide_form .alert_form, #job_alert_bottom.hide_form .alert_form {
    display: none
}

.job_alert_container {
    margin-bottom: 10px;
    padding: 5px 10px 8px 5px;
    background-color: #fafafa;
    border: 1px solid #ebebeb
}

.job_alert_container .field_with_errors {
    display: inline
}

.job_alert_container p.notice {
    font-size: small;
    margin-top: 5px;
    color: #666
}

.job_alert_container a {
    color: #12c
}

.job_alert_container .alert_form {
    margin-top: 10px
}

.job_alert_container form input[type=text] {
    padding: 4px;
    width: 250px;
    font-size: 14px
}

.job_alert_container form input[type=submit] {
    font-size: 15px;
    font-weight: normal
}

.jal {
    padding-left: 22px;
    position: relative;
    display: block;
    font-weight: bold
}

.jal .ws_sts {
    background: transparent url(http://cdn.jobary.com/assets/logo_small-345471e4ffb1cd57ba7ad3ef0fdfd754.gif) no-repeat scroll -43px -55px;
    height: 100%;
    left: 0pt;
    position: absolute;
    top: 0px;
    width: 21px
}

h1.search_title {
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: normal;
    color: #d14836
}

div#search_meta #search_info {
    float: right;
    color: #666;
    margin: 5px
}

div#search_meta #search_info b {
    font-weight: normal
}

#side_afs {
    margin-left: 0px
}

#radius_container {
    margin-bottom: 10px
}

#radius_container label {
    font-weight: bold
}

#job_filters span, #sort_by span {
    display: inline
}

#job_filters span.selected, #sort_by span.selected {
    font-weight: bold
}

#job_filters span.separator, #sort_by span.separator {
    color: #666
}

#sort_by {
    float: right;
    margin-top: 0px
}

#search_controls {
    margin-top: 5px
}

#no_results div.browse {
    margin: 15px 0 0
}

#no_results div.browse ul.cols3 {
    width: 180px;
    margin-top: 0px
}

#no_results p {
    font-size: 15px;
    line-height: 1.4em
}

#no_results h4 {
    margin-top: 15px
}

#no_results #hints {
    margin-top: 0px;
    list-style-type: square;
    margin-left: 25px;
    margin-bottom: 10px;
    line-height: 20px
}

#duplicate_jobs {
    margin-top: 20px;
    font-size: 14px;
    font-style: italic;
    line-height: 20px
}

.social_buttons_container {
    display: inline-block
}

.social_buttons_container #fb-like {
    margin-right: 25px
}

#searchform td {
    padding-right: 4px
}

#searchform .bubble {
    position: relative;
    padding: 13px 10px;
    background: #dff0d8;
    color: #468847;
    font-weight: bold;
    margin: 1em 0px 0em 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

#searchform .bubble a, #searchform .bubble a:visited {
    color: #12c
}

#searchform .bubble:after {
    content: "";
    position: absolute;
    top: -16px;
    bottom: auto;
    left: auto;
    border-width: 0 10px 16px;
    border-style: solid;
    border-color: #dff0d8 transparent;
    display: block
}

#searchform #qtip.bubble:after {
    right: 400px
}

#searchform #ltip.bubble:after {
    right: 120px
}

#courses {
    margin-top: 10px;
    padding: 0px 5px 0 5px;
    line-height: 1.2em
}

#courses a {
    font-weight: bold;
    text-decoration: none
}

#courses a:hover {
    text-decoration: underline
}

#courses h3 {
    font-size: 15px;
    margin-bottom: 8px;
    color: #d14836;
    padding-bottom: 5px;
    border-bottom: 1px #e5e5e5 solid
}

#courses li {
    margin-bottom: 15px
}

.logo_left {
    background-color: #fff;
    float: left;
    overflow: hidden;
    margin-top: 4px;
    margin-right: 7px;
    padding-bottom: 3px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 1px;
    position: relative;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid #dedede
}

.logo_left img {
    vertical-align: middle
}

.rl {
    margin-left: 65px
}

ul.tab {
    margin-left: 50px;
    background: #fff;
    padding: 0;
    clear: both;
    font-weight: bold
}

ul.tab a {
    text-decoration: none;
    color: #222
}

ul.tab li {
    line-height: 29px;
    padding: 0 12px;
    float: left
}

ul.tab li.current {
    background: #eee;
    color: #dd4b39
}

#tab_content, .tab_content {
    margin: 0 0 20px 50px;
    border-top: 1px solid #eee;
    padding: 15px
}

#tab_content .user_content, .tab_content .user_content {
    margin: 0px
}

.tab_content {
    background: #fff;
    margin: 0px
}

.share ul.tab {
    margin-left: 0px;
    background: #fafafa
}

.share ul.tab li.current {
    background: #fff;
    color: #000
}

.share ul.tab li {
    background: #fafafa
}

.share ul.tab li a {
    text-decoration: underline;
    color: #12c
}

table.list {
    width: 100%
}

table.list tr th {
    text-align: left
}

table.list td {
    border-top: 1px solid #e5e5e5;
    padding: 5px 10px 5px 0
}

table.list td.last_row {
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 0px
}

table.list td.last_column {
    text-align: right
}

.user_form p {
    margin: 10px 0 10px
}

#my_account td {
    padding: 0px 10px 10px 0px
}

#my_account td.first_col {
    text-align: right;
    font-weight: bold
}

#email_address {
    color: #d14836;
    margin: 10px 0
}

.user_content {
    margin: 0 0 20px 50px
}

.user_content h2 {
    margin-bottom: 15px
}

#unconfirmed {
    font-size: 12px;
    color: #f60;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 16px
}

#unconfirmed form {
    display: inline
}

.unconfirmed {
    color: #f60
}

#edit_account label.inline {
    display: inline
}

#edit_account div.label_container {
    margin-bottom: 5px
}

.user_content ul.user_links li {
    margin: 0 0 10px
}