@font-face {
	font-family: 'sharepopup';
	src:url('../fonts/sharepopup.eot?-v5swcv');
	src:url('../fonts/sharepopup.eot?#iefix-v5swcv') format('embedded-opentype'),
		url('../fonts/sharepopup.woff?-v5swcv') format('woff'),
		url('../fonts/sharepopup.ttf?-v5swcv') format('truetype'),
		url('../fonts/sharepopup.svg?-v5swcv#sharepopup') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sharepopup';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-facebook:before {
	content: "\e602";
}


.share-popup {
	width: 300px;
	height: auto;
	position: fixed;
	right: 0px;
	bottom: -400px;
	padding: 1em;
	margin-bottom: 8px;
	margin-right: 8px;
	border-radius: 8px;
	border:1px solid #ccc;
	background-color: #FFF;
	z-index: 1000;
}


 .share-popup h2 {
 	float: left;
    padding: 0px;
    margin: 0px 0px 10px;
}

.share-buttons {
	clear: both;
}

.share-btn-close {
	float: right;
	font-size: 2em;
	cursor: pointer;
}