body,td { font-family: Arial,sans-serif; font-size:10pt }
a:link { color:#00c }
a:visited { color:#551a8b }
a:active { color:#f00 }
.input_text{
    font-size:18px;padding:3px 6px;_margin: -1px 0;
}
.input_submit {color:#fff;font-size:15px;height:35px;background: #FFA500; padding:3px 9px;cursor:pointer;_padding:3px;
border-color: #FFA500;
}
.input_submit:active { background: #e59400; }
header{
    margin-top: 15px;
}

#navigation{
    border-bottom: 1px solid #f8f8f8;
}

.similar-job{
   /*border: 1px solid #000000;*/
    margin-top: 5px;
}

#search-result-right-side{
    border-left: 2px solid #ffffff;
}

#page-nav{
    margin-top: 25px;
}

#divider{
    border-top: 4px solid #FFA500;
}

#organization{
   padding-left: 10%;
   padding-right: 10%;
}

#share-buttons li{
    float: right;
}

#organization-menu{
    font-size: 18px;
}

#organization-menu{
    border-bottom: 1px solid #f8f8f8;
    padding: 0;

}

#organization-job-box{
    background: #f8f8f8;
    padding: 5px;
}

#organization-menu span{
    background-color: #f8f8f8;
    padding-bottom: 4px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


#page-nav li{
    margin-bottom: 10px;
    text-align: right;
}

.similar-job h3{
    margin-top: 0;
}

.similar-job-title{
    font-size: 16px;
}

.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:30px !important}

.job-origin{
    font-size: 20px;
}

a.clear{
    color: orangered;
}
.job{
    margin-top: 15px;
    padding-right:25px;
}
.job h2{
    font-size: 16px;
    margin: 0;
}

.search-title{
    font-size: 16px;
}

.summary{
    color: #000000;
}

.job-type, .posted-date, .job-location{
    color: #666666;
}
#middle-pane, #padding-left, #result-box{
    padding-left: 0;
}

/*.middle-pane{border: 1px solid #000000;}*/

#top-search-form{
    margin-bottom: 20px;
}

.centered-box{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#email-alert-box{
    border: 1px solid #EBEBEB;
    background-color: #f8f8f8;
    padding: 20px;
}

.home-margin-top{
	margin-top: 60px;
}

input{
	padding-right: 10px;
}

#home-form{
	margin-top: 20px;
}

.custom-table{
	width: 100%;
	table-layout: fixed;
	border-top: 1px solid orange;
	border-bottom: 1px solid orange;
}

table.custom-table tr td{
	width: 25%;
}



.footer-margin-top{
	margin-top: 50px;
}