<div class="job_alert_container" id="job_alert_top">
    <span class="jal" id="error_span"><span class="ws_sts" id=""></span>Create email alert for this search</span>

                        <div class="alert_form">
                            <form accept-charset="UTF-8" action="" class="remote_form"
                                  id="top_new_email_alert">

                                <label for="top_email_alert_email">Your email:</label> <input id="top_email_alert_email"
                                                                                              name="email"
                                                                                              size="30" type="text" required/>
                                <input class="flat_button" id="subscribe_button"
                                                                                      type="button" value="Save alert"/>
                            </form>
                            <p class="notice">Email alerts can be cancelled at anytime</p></div>
                    </div>