<div id="ft">
        <div id="bottom_nav" style="text-align: center;">
            <div style="margin-bottom: 20px"><a href="{% url 'search' %}">Browse Jobs</a><span class='separator'> - </span><a
                    href="/page/about/">About</a><span class='separator'> - </span><a href="/page/contact/">Contact</a>
            </div>
            <!--<p style="font-size: smaller;">©CloudOne Ltd</p></div>-->
    </div>