{% load staticfiles %}
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon"
          type="image/vnd.microsoft.icon"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
     <title>
        {% if title %}
            {{ title }}
        {% else %}
            Jobs Search | One search. All Jobs in Nigeria.
        {% endif%}
    </title>
    <meta content="
    {% if description %}
        {{ description }}
    {% else %}
        Click here to find millions of jobs in Nigeria from other company websites, jobs boards and newspapers. One search. All jobs in Nigeria. JobsMaster.com.ng
    {% endif %}
    "
          name="description"/>
    <meta content="{{ keywords }}"
          name="keywords"/>
    <link href='{% static "website/website-v1/css/home.css" %}' rel='stylesheet' type='text/css'/>
    {% include 'website/website-v1/includes/head-scripts.html' %}
</head>