<div id="leftnavc">
                <div id="leftnav"><h1 class="search_title"><strong>{% if q %}{{ q }}{% else %} all {% endif %}</strong> jobs</h1>
                    <ul class="facet" id="listed_date_facet">
                        <li><strong>Listed Date</strong></li>
                        <li class="row {% if a == 1 %}selected{% endif %}"><a href="/search/?a=1&amp;l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" rel="nofollow"
                                           title="Last 24 hours jobs">Last 24 hours</a>
                        </li>
                        <li class="row {% if a == 7 %}selected{% endif %}"><a href="/search/?a=7&amp;l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" rel="nofollow"
                                           title="Last 7 days jobs">Last 7 days</a></li>
                        <li class="row {% if a == 14 %}selected{% endif %}"><a href="/search/?a=14&amp;l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" rel="nofollow"
                                           title="Last 14 days jobs">Last 14 days</a></li>
                        <li class="row {% if a == 30 %}selected{% endif %}"><a href="/search/?a=30&amp;l={{ l }}&amp;q={{ q }}&amp;jt={{ jt }}&amp;c={{ c }}" rel="nofollow"
                                           title="Last 30 days jobs">Last 30 days</a></li>
                    </ul>


                    <ul class="facet" id="job_type_facet">
                        <li><strong>Job Type</strong></li>
                        <li class="row{% if a == 'pt' %}selected{% endif %}"><a href="/search/?jt=pt&amp;l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" rel="nofollow"
                                           title="Part time jobs">Part time</a></li>
                        <li class="row {% if a == 'ft' %}selected{% endif %}"><a href="/search/?jt=ft&amp;l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" rel="nofollow"
                                           title="Full time jobs">Full time</a></li>
                        <li class="row {% if a == 'p' %}selected{% endif %}"><a href="/search/?jt=p&amp;l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" rel="nofollow"
                                           title="Permanent jobs">Permanent</a></li>
                        <li class="row {% if a == 'i' %}selected{% endif %}"><a href="/search/?jt=i&amp;l={{ l }}&amp;q={{ q }}&amp;a={{ a }}&amp;c={{ c }}" rel="nofollow"
                                           title="Internship and Industrial Attachment jobs">Internship</a></li>
                    </ul>
                    <!--<ul class="facet" id="location_facet">-->
                        <!--<li><strong>Location</strong></li>-->
                        <!--<li class="row"><a href="/Chef-jobs-in-Singapore" title="Singapore jobs">Singapore</a><span-->
                                <!--class="count">22</span></li>-->
                    <!--</ul>-->
                    <!--<ul class="facet" id="category_facet">-->
                        <!--<li><strong>Category</strong></li>-->
                        <!--<li class="row"><a href="/j?l=&amp;q=Chef+cat%3Ahospitality-tourism&amp;since=lv&amp;surl=0"-->
                                           <!--rel="nofollow" title="Hospitality &amp; Tourism jobs">Hospitality &amp;-->
                            <!--Tourism</a><span class="count">17</span></li>-->
                        <!--<li class="row"><a href="/j?l=&amp;q=Chef+cat%3Amining-resources-energy&amp;since=lv&amp;surl=0"-->
                                           <!--rel="nofollow" title="Mining, Resources &amp; Energy jobs">Mining, Resources-->
                            <!--&amp; Energy</a><span class="count">2</span></li>-->
                        <!--<li class="row"><a-->
                                <!--href="/j?l=&amp;q=Chef+cat%3Ainformation-communication-technology&amp;since=lv&amp;surl=0"-->
                                <!--rel="nofollow" title="Information &amp; Communication Technology jobs">Information &amp;-->
                            <!--Communication Technology</a><span class="count">2</span></li>-->
                        <!--<li class="row"><a href="/j?l=&amp;q=Chef+cat%3Ahealthcare-medical&amp;since=lv&amp;surl=0"-->
                                           <!--rel="nofollow" title="Healthcare &amp; Medical jobs">Healthcare &amp;-->
                            <!--Medical</a><span class="count">1</span></li>-->
                        <!--<li class="row"><a href="/j?l=&amp;q=Chef+cat%3Ascience-technology&amp;since=lv&amp;surl=0"-->
                                           <!--rel="nofollow" title="Science &amp; Technology jobs">Science &amp;-->
                            <!--Technology</a><span class="count">1</span></li>-->
                        <!--<li class="row hidden additional_row"><a-->
                                <!--href="/j?l=&amp;q=Chef+cat%3Aadministration-office-support&amp;since=lv&amp;surl=0"-->
                                <!--rel="nofollow" title="Administration &amp; Office Support jobs">Administration &amp;-->
                            <!--Office Support</a><span class="count">1</span></li>-->
                        <!--<li class="more"><span class="more_rows">more &rsaquo;</span></li>-->
                        <!--<li class="less hidden"><span class="less_rows">&lsaquo; less</span></li>-->
                    <!--</ul>-->
                </div>
            </div>