<div class="pagination">
    {% if results.has_previous %}
    <a class="previous_page" href="{% url 'search' %}?page={{ results.previous_page_number }}&q={{ q }}&l={{ l }}&a={{ a }}">< Prev</a>
    {% else %}
    <span class="previous_page disabled" href="">< Prev</span>
    {% endif %}
    {% if results.has_next %}
    <a
                        href="{% url 'search' %}?page={{ results.next_page_number }}&q={{ q }}&l={{ l }}&a={{ a }}" class="next_page">Next
                    ></a>
    {% else %}
     <span class="next_page disabled" href=""> Next ></span>
    {% endif %}
</div>