{% load staticfiles %}
<div id="searchform">
    <div class="tsf-p">
        <div id="logoc"><a href="/" id="logo" title="JobsMaster.com.ng"><img alt="Logo" height="41"
                                                                       src="{% static 'jobsmaster-logo.png' %}"
                                                                       title="JobsMaster.com.ng"/></a></div>
        <div id="search_form_c">
            <form action="/search" id="jsform" method="get">
                <table>
                    <tr>
                        <td>
                            <div class="ds" style="height:32px;"><input class="sf" id="q" maxlength="512" name="q"
                                                                        size="30" type="text" value="{{ q }}"/><label
                                    class="hidden" for="q">Keywords</label></div>
                        </td>
                        <td>
                            <div class="ds" style="height:32px;"><input class="sf" id="l" maxlength="64" name="l"
                                                                        size="25" type="text" value="{{ l }}"/><label
                                    class="hidden" for="l">Location</label></div>
                        </td>
                        <td valign="top"><span class="ds"><span class="lsbb"><input class="lsb" id="fj" type="submit"
                                                                                    value="Search Jobs"/></span></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label class="rendered" for="q">job title, keywords or company</label></td>
                        <td><label class="rendered" for="l">city or state</label></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>