<!--<div id="top_nav">-->
    <!--<div id="account"><span class="dropdown" id="country_select"><a href="#" class="current_country">Singapore<span-->
            <!--class="ws_sts right_arrow"></span></a><ul class="dropdown-menu">-->
        <!--<li><a href="http://www.jobseeker.com.au">Australia</a></li>-->
        <!--<li><a href="http://www.jobseeker.co.nz">New Zealand</a></li>-->
        <!--<li><a href="http://www.jobsearch.in">India</a></li>-->
        <!--<li><a href="http://www.jobseeker.co.uk">United Kingdom</a></li>-->
        <!--<li><a href="http://www.jobsearch.net">United States</a></li>-->
        <!--<li><a href="http://www.vieclam.vn">Việt Nam</a></li>-->
    <!--</ul></span><a href="/login" rel="nofollow">log in</a></div>-->
<!--</div>-->