<!DOCTYPE html>
<html>
{% include 'website/website-v1/includes/head.html' %}
<body>

{% include 'website/website-v1/includes/top-nav.html' %}
{% include 'website/website-v1/includes/search-form.html' %}
<div class="one_col" id="main">
    <div id="cnt">
        <div id="rcnt">
            <div id="centre_col">
                <div class="message_container hidden"></div>
                <div id="cms_content">
                    <div class='left'>
                        <ul id="vertical_nav">
                            <!--<li><a href="/page/terms-of-service/">Terms of Service</a></li>-->
                            <li><a href="/page/about/">About us</a></li>
                            <li><a href="/page/contact/">Contact us</a></li>
                        </ul>
                    </div>
                    <div class='right'><h2>{{ flatpage.title }}</h2>

                       {{ flatpage.content }}
                        <div>
                            <p">
                            <br/>
                            </p">
                        </div>
                        <div>
                            <p">For employers who want to include jobs in our search engine, please
                            contact us at <b>contact@jobsmaster.com.ng</b>.
                            </p">
                        </div>
                    </div>
                </div>
            </div>
            {% include 'website/website-v1/includes/footer-2.html' %}
        </div>
    </div>
</div>
</body>
</html>