{% extends 'website/website-v2/base.html' %}
        {% block body %}
            {% include 'website/website-v2/includes/top-nav.html'%}
            <div class="container-fluid">

            {% include 'website/website-v2/includes/header.html'%}

    <div class="row">
        <div class="col-md-2">
            <ul id="page-nav" class="list-unstyled pull-right">
                <li><a href="/page/about/">About Us</a></li>
                <li><a href="/page/contact/">Contact Us</a></li>
            </ul>
        </div>

        <div class="col-md-5">
            <h1 id="page-title">{{ flatpage.title }}</h1>
            <article>
                {{ flatpage.content }}
            </article>
        </div>
    </div>


</div>
        {% include 'website/website-v2/includes/footer.html' %}
        {% endblock %}